<%unless @student_pool.empty?%>

  <h1>Students</h1>

  <footer>
    <%= link_to 'Add Student', new_student_path%>
  </footer>

  <ul id="student-list">
    <% @student_pool.first.each do |student| %>
      <li>
          <div class='student-photo'>
            <%= image_tag student.student_photo.url %>
          </div>
          <h2 class='student-name'>
            <%= link_to short_name(student), edit_student_path(student)%>
          </h2>
      </li>
    <% end %>
  </ul>
<% end %>
