



  <h1>Students</h1>

  <div class="row">
    <div class="small-centered columns" style="text-align:center;">
      <h2><%= link_to 'Add Student', new_student_path%></h2>
    </div>
  </div>
<div class="content">
  <ul class="small-block-grid-3">
    <% @student_pool.order(:first_name).each do |student| %>
    <span class= "medium-4  columns">
      <li class="student">
          <span class='student-photo'>
            <%= link_to edit_student_path(student)  do %>
             <%= image_tag student.student_photo.url %>
            <% end %>
          </span>
          <h3 class='student-name'><%=short_name(student)%></h3>
      </li>
    </span>
    <% end %>
  </ul>
</div>
