<% unless @courses.empty? %>
  <h2>Courses</h2>
  <table>
  <tr>
    <td>Name</td>
    <td>School Year</td>
    <td>Period</td>
  </tr>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.subject unless  course.subject.nil?  %></td>
        <td><%= course.school_year unless  course.school_year.nil?  %> </td>
        <td><%= course.period unless  course.period.nil?  %> </td>
      </tr>
  <% end %>
  </table>
<% end %>
<br>
<footer>
  <%= link_to 'Create a New Class', new_course_path%>
</footer>
