<% unless @schools.empty? %>
<h2>Schools</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Phone</th>
    </tr>
  </thedd>
  <% @schools.each do |school| %>
  <tr>
    <td><%= school.name %></td>
    <td><%= school.location %></td>
    <td><%= school.phone_number %></td>
  </tr>
  <% end %>
</table>
<% end %>
<br>
<footer>
  <%= link_to 'Create a School', new_admin_school_path if current_user.admin %>
</footer>
