<% unless @schools.empty? %>
<br>
<table class="informational">

  <% @schools.each do |school| %>
  <tr>
    <td><%= school.name %></td>
    <td><%= school.location %></td>
    <td><%= school.phone_number %></td>
  </tr>
  <% end %>
</table>
<% end %>

