<% unless @student_pool.empty? %>
  <h2>Students</h2>
  <table>
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Nickname</td>
  </tr>
  <% @student_pool.first.each do |student| %>
      <tr>
        <td><%= link_to student.first_name, edit_student_path(student)%></td>
        <td><%= link_to student.last_name, edit_student_path(student) %></td>
        <td><%= link_to student.nickname, edit_student_path(student)%></td>

      </tr>
  <% end %>
  </table>
<% end %>

<br>

<footer>
  <%= link_to 'Add Student', new_student_path%>
</footer>
