 #student-list{
  li{
    list-style-type: none;
    width:200px;
    text-align: center;
    margin: 0 auto;
  }
}

.student-photo img{
  border-radius: 160px;
  width: 270px;
}

.student-name{
  text-align: center;
}

