 #student-list{
  li{
    list-style-type: none;
    text-align: center;
  }
}

.student-photo img{
  border-radius: 180px;
  width: 270px;
}


.student-photo_preview img{
  border-radius: 180px;
  width: 340px;
}

.student-name{
  text-align: center;
}

input[type="file"]{
  display: none;
}

label.file.optional.control-label{
 background-color: #008cba;
 text-align: center;
 vertical-align: middle;
 color: white;
 height: 53px;
 -webkit-transition: background-color 300ms ease-out;
 transition: background-color 300ms ease-out;
 font-size: 1rem;
 line-height: 50px;

 &:hover{
 background-color: #007095;
 }
}

li.student{
  display: inline-block;
}

.default_background{
  background-color: grey;
  width: 340px;
  height: 340px;
}

