h2, h1, .center, table, footer {
  margin: 1em auto;
  text-align: center;
}

p, a, .top-bar-section ul li > a{
  font-family: 'Ubuntu Mono';
}

table td a{
  font-family: 'arial';
}

h1, h2, h3{
  font-family: 'Roboto', sans-serif;
}
/*Text Algin all Elements in a Table*/
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td{
  text-align: center;
}

.spacer{
  margin-right: 8%;

}

.center{
  margin-left: 4%;
  text-align: left;
}

.help_notice{
  width: 75%;
  margin: -1% auto;
  font-size: .8em;
  text-align: center;
}
table.informational{
  border: none;
  margin-top: -5%;
}

test_body{
  background-image: url("classroom_light.jpg");
  background-repeat:no-repeat;
  background-position: center center;
    background-size: auto 150%;
    font-size: 2em;
    h2 {
    font-family: 'Roboto', sans-serif;
    }
}

.top-bar{
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.small-photo {
  border-radius: 100%;
  width: 140px;
  height: 140px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.medium-photo {
  border-radius: 100%;
  width: 200px;
}


.student_pool{
  height: 600px;
  width: 321px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.alert-box{
  width: 600px;
  text-align: center;
  border-radius: 0px;
  margin: 20px;
  margin: 15px auto 0;
}

nav.top-bar{
  z-index: 20;
}
.content{
  margin-bottom: 200px;
}
