<nav class="top-bar" data-topbar>


  <ul class="title-area">
    <li class="name"></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">

    <!-- Left Nav Section -->
    <ul class="left">
      <% if !user_signed_in? %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>

      <% if user_signed_in? %>
        <li> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% if current_user.admin %>
        <% end %>
      <% end %>
    </ul>

  </section>
</nav>

